version: "3.8"
services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MIARGUMENTO: "Soy un argumento desde docker compose"
    command: ["echo", "este es un mensaje desde docker compose"]
    container_name: nginx_service
    restart: always
    environment:
      MYVARIABLE: esto es una variable de prueba
    ports:
      - 8080:80
    volumes:
      - ./html/:/usr/share/nginx/html

volumes:
  hmtl: {}
